*.o
*.exe
*.err
bin
bin-file
obj
obj-file
gen
gen-file
dep
dep-file
resext.h
QC.INI
.finf
.rsrc
doc
*.vcb
*.vcl
*.vco
*.aps
tmp
gmon.out
assets/pattern_*.bmp
assets/tile_*.bmp
assets/sprite_*.bmp
assets/dsekai.tiled-session
build
build_*
log*.txt
